# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IDE configuration
.vscode/
# Jetson GPIO Library
JetsonGPIO/

### Additional rules for build artifacts and directories ###

# Object files and Dependencies
*.o
*.d
*.out

# Object directorys
/obj/
/High-Precision_AD_HAT/c/bin/

### End of additional rules ###
